@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pokview {
  padding-right: 16px;
}

.pokview::-webkit-scrollbar {
  width: 8px;
  background-color: var(--foreground);
  border-radius: 25px;
  padding: 2px;
}

.pokview::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 16px;
}

